/* Header */
.md-header {
    /* background-color: #76b82a;*/
    background-color: #fff;
    color: #545454;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset h1[id] .headerlink:focus, .md-typeset h1[id]:hover .headerlink:hover, .md-typeset h1[id]:target .headerlink {
    color:#76b82a;
}

.md-typeset h2[id] .headerlink:focus, .md-typeset h2[id]:hover .headerlink:hover, .md-typeset h2[id]:target .headerlink {
	  color: #76b82a;
}

.md-typeset h3[id] .headerlink:focus, .md-typeset h3[id]:hover .headerlink:hover, .md-typeset h3[id]:target .headerlink {
    color:#76b82a;
}

.md-tabs {
  width: 100%;
  -webkit-transition: background .25s;
  transition: background .25s;
  background-color: #F5F5F5;
  color: #6E6E6E;
  font-size: 16px;
  overflow:auto
}

.md-tabs__link {
  display: block;
  margin-top: .8rem;
  -webkit-transition: opacity .25s, -webkit-transform .4s cubic-bezier(.1, .7, .1, 1);
  transition: opacity .25s, -webkit-transform .4s cubic-bezier(.1, .7, .1, 1);
  transition: transform .4s cubic-bezier(.1, .7, .1, 1), opacity .25s;
  transition: transform .4s cubic-bezier(.1, .7, .1, 1), opacity .25s, -webkit-transform .4s cubic-bezier(.1, .7, .1, 1);
  font-size: .7rem;
  font-weight: bolder;
  opacity:.7
}

html .md-nav--primary .md-nav__title--site {
	position: relative;
	background-color: #FFF;
	color:#000
}

.md-search__input {
	background-color:  #76b82a;

}

.md-search__input:hover {
	background-color:#a9eb5d;
}

.md-search__input::placeholder {
	color:hsla(0, 0%, 100%, 1);
}


/* Links  im Text */
.md-typeset a:link {
  color: #76b82a;
}


.md-typeset a:visited {
  color: #76b82a;
}


.md-typeset a:hover, .md-typeset a:focus {
  color: #333;

}

.md-typeset a:active {
  color: #76b82a;
}

/* Links  in der Navi*/

.md-nav__link a:link {
  color: #76b82a;
}


.md-nav__link a:visited {
  color: #76b82a;
}

.md-nav__link:focus, .md-nav__link:hover {
  color: #76b82a;
}

.md-nav__link--active {
  color: #76b82a;
}


/* Footer */
.md-footer-nav {
	background-color: #76b82a;
}

.md-footer-meta {
	background-color: #76b82a;
}

.md-footer-copyright {
  max-width: 75%;
  float: none;
 }
 
 
html .md-footer-meta.md-typeset a {
    color:#fff;
}

html .md-footer-meta.md-typeset a:focus, html .md-footer-meta.md-typeset a:hover {
    /*color:hsla(0, 0%, 100%, .7);*/
    text-decoration: underline;
}

.md-typeset .admonition.info, .md-typeset .admonition.todo, .md-typeset details.info, .md-typeset details.todo {
  border-left-color:#76b82a;
}

img {
  border-style:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }