{% extends "base.html" %}

{% block footer %}


<footer class="md-footer">
 <!--   
    <div class="md-footer-nav">
      <nav class="md-footer-nav__inner md-grid">
        
        
          <a href="about/" title="About" class="md-flex md-footer-nav__link md-footer-nav__link--next" rel="next">
            <div class="md-flex__cell md-flex__cell--stretch md-footer-nav__title">
              <span class="md-flex__ellipsis">
                <span class="md-footer-nav__direction">
                  Next
                </span>
                About
              </span>
            </div>
            <div class="md-flex__cell md-flex__cell--shrink">
              <i class="md-icon md-icon--arrow-forward md-footer-nav__button"></i>
            </div>
          </a>
        
      </nav>
    </div>
    -->

  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid" align="center">
      <div class="md-footer-copyright">
      <a href="https://example.com">DInE Foundation</a> | <a href="https://example.com">AGB</a> | <a href="https://example.com">Datenschutzhinweise</a> | <a href="https://example.com">Partner werden</a> | <a href="https://example.com">Dev Portal</a> | <a href="https://example.com">Plugins</a>  
      
      </div>
      
    </div>
  </div> 
</footer>



{% endblock %}